<hr>
<h2>title: &quot;Wang wei - Home&quot;
layout: gridlay
excerpt: &quot;Wang wei&quot;
sitemap: false
permalink: /</h2>
<p>&lt;div class=&quot;container-fluid&quot;&gt;</p>
<p>&lt;div class=&quot;row&quot;&gt;</p>
<p>&lt;div class=&quot;col-sm-8&quot;&gt;</p>
<p>Greetings, I am now an associate research fellow at the School of Information Engineering, <a href="http://xg.zzu.edu.cn/index.jhtml">Zhengzhou University</a>. I received my Ph.D. degree in Computer Science at <a href="http://www.hrbust.edu.cn/">HRBUST</a> in Harbin, China, under the supervision of Prof. Fengbin Zhang. Moreover, I was also co-supervised by Prof. <a href="http://www.gaoyue.org/cn/people/gaoyue_index.html">Yue Gao</a> and Prof. Zuoyong Li for scientific research during my doctoral research stage.</p>
<p>&lt;h4&gt;Research Interests &lt;/h4&gt;</p>
<p>&lt;h5&gt; Data mining and machine learning &lt;/h5&gt;
&lt;ul&gt;
&lt;li&gt;Time Series Modeling.&lt;/li&gt;
&lt;li&gt;Anomaly Detection.&lt;/li&gt;
&lt;li&gt;Graph Embedding.&lt;/li&gt;
&lt;/ul&gt;
&lt;h5&gt; Computer Vision &lt;/h5&gt;
&lt;ul&gt;
&lt;li&gt;Medical Image Processing.&lt;/li&gt;
&lt;/ul&gt;</p>
<p>&lt;!--
My work lies at the intersection of Computer Vision and Machine Learning. Specifically, I am working on leveraging machine learning techniques for better inference in computer vision models. The main research question is how to make use of learning techniques such as deep neural networks and random forests for inference in structured prediction frameworks.
--&gt;
&lt;!-- <strong><em>I am looking for motivated students for collaborations and internships. If interested, please drop me an email with your CV.</em></strong> --&gt;
&lt;!--
<strong><em>If you are interested in research collaboration, please drop me an email with your CV.</em></strong>
--&gt;</p>
<h3>News</h3>
<p>{% for article in site.data.news limit:9 %}
{{ article.date }} :
&lt;em&gt;{{ article.headline }}&lt;/em&gt;
{% endfor %}
&lt;a href=&quot;{{ site.url }}{{ site.baseurl }}/allnews.html&quot;&gt;see all news&lt;/a&gt;</p>
<p>&lt;/div&gt;</p>
<p>&lt;div class=&quot;col-sm-4&quot; style=&quot;display:table-cell; vertical-align:middle; text-align:left&quot;&gt;</p>
<p>&lt;ul style=&quot;overflow: hidden&quot;&gt;
&lt;img src=&quot;{{ site.url }}{{ site.baseurl }}/images/profile_pic.jpg&quot; class=&quot;img-responsive&quot; width=&quot;100%&quot; /&gt;
&lt;/ul&gt;</p>
<p>&lt;!-- &lt;br clear=&quot;all&quot; /&gt; --&gt;</p>
<p>&lt;A HREF=&quot;mailto:isfanhy@gmail.com&quot;&gt;
isfanhy@gmail.com
&lt;/A&gt; &lt;br&gt;
Zhengzhou University &lt;br&gt;
100 Kexue Ave&lt;br&gt;
Zhengzhou, China.&lt;br&gt;</p>
<p>&lt;/div&gt;</p>
<p>&lt;/div&gt;
&lt;/div&gt;</p>
<p>&lt;div class=&quot;col-sm-12&quot;&gt;</p>
<h3>Publications</h3>
<p>{% for publi in site.data.publist limit:100 %}</p>
<p>&lt;div class=&quot;col-sm-11 clearfix&quot;&gt;
&lt;div class=&quot;well&quot;&gt;
&lt;pubtit&gt;{{ publi.title }}&lt;/pubtit&gt;</p>
<p>&lt;img src=&quot;{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ publi.image }}&quot; class=&quot;img-responsive&quot; width=&quot;120px&quot; style=&quot;float: left&quot; /&gt;</p>
<p>&lt;p&gt;{{ publi.description }}&lt;/p&gt;</p>
<p>&lt;p&gt;&lt;em&gt;{{ publi.authors }}&lt;/em&gt;&lt;/p&gt;</p>
<p>&lt;p&gt;{{ publi.venue }}&lt;/p&gt;</p>
<p>{% if publi.number_link == 1 %}
&lt;p&gt;&lt;a href=&quot;{{ publi.link1.url }}&quot;&gt;{{ publi.link1.display }}&lt;/a&gt;&lt;/p&gt;
{% endif %}</p>
<p>{% if publi.number_link == 2 %}
&lt;p&gt;&lt;a href=&quot;{{ publi.link1.url }}&quot;&gt;{{ publi.link1.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link2.url }}&quot;&gt;{{ publi.link2.display }}&lt;/a&gt;&lt;/p&gt;
{% endif %}</p>
<p>{% if publi.number_link == 3 %}
&lt;p&gt;&lt;a href=&quot;{{ publi.link1.url }}&quot;&gt;{{ publi.link1.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link2.url }}&quot;&gt;{{ publi.link2.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link3.url }}&quot;&gt;{{ publi.link3.display }}&lt;/a&gt;&lt;/p&gt;
{% endif %}</p>
<p>{% if publi.number_link == 4 %}
&lt;p&gt;&lt;a href=&quot;{{ publi.link1.url }}&quot;&gt;{{ publi.link1.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link2.url }}&quot;&gt;{{ publi.link2.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link3.url }}&quot;&gt;{{ publi.link3.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link4.url }}&quot;&gt;{{ publi.link4.display }}&lt;/a&gt;&lt;/p&gt;
{% endif %}</p>
<p>{% if publi.number_link == 5 %}
&lt;p&gt;&lt;a href=&quot;{{ publi.link1.url }}&quot;&gt;{{ publi.link1.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link2.url }}&quot;&gt;{{ publi.link2.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link3.url }}&quot;&gt;{{ publi.link3.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link4.url }}&quot;&gt;{{ publi.link4.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link5.url }}&quot;&gt;{{ publi.link5.display }}&lt;/a&gt;&lt;/p&gt;
{% endif %}</p>
<p>&lt;/div&gt;
&lt;/div&gt;</p>
<p>{% endfor %}</p>
<p>&lt;br clear=&quot;all&quot;/&gt;</p>
<h4>&lt;a href=&quot;{{ site.url }}{{ site.baseurl }}/publications&quot;&gt;see all publications&lt;/a&gt;</h4>
<p>&lt;/div&gt;</p>
<h3>Projects</h3>
<p>{% for publi in site.data.projlist limit:100 %}</p>
<p>&lt;div class=&quot;col-sm-11 clearfix&quot;&gt;
&lt;div class=&quot;well&quot;&gt;
&lt;pubtit&gt;{{ publi.title }}&lt;/pubtit&gt;</p>
<p>&lt;img src=&quot;{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ publi.image }}&quot; class=&quot;img-responsive&quot; width=&quot;120px&quot; style=&quot;float: left&quot; /&gt;</p>
<p>&lt;p&gt;{{ publi.description }}&lt;/p&gt;</p>
<p>&lt;p&gt;&lt;em&gt;{{ publi.authors }}&lt;/em&gt;&lt;/p&gt;</p>
<p>&lt;p&gt;{{ publi.venue }}&lt;/p&gt;</p>
<p>{% if publi.number_link == 1 %}
&lt;p&gt;&lt;a href=&quot;{{ publi.link1.url }}&quot;&gt;{{ publi.link1.display }}&lt;/a&gt;&lt;/p&gt;
{% endif %}</p>
<p>{% if publi.number_link == 2 %}
&lt;p&gt;&lt;a href=&quot;{{ publi.link1.url }}&quot;&gt;{{ publi.link1.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link2.url }}&quot;&gt;{{ publi.link2.display }}&lt;/a&gt;&lt;/p&gt;
{% endif %}</p>
<p>{% if publi.number_link == 3 %}
&lt;p&gt;&lt;a href=&quot;{{ publi.link1.url }}&quot;&gt;{{ publi.link1.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link2.url }}&quot;&gt;{{ publi.link2.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link3.url }}&quot;&gt;{{ publi.link3.display }}&lt;/a&gt;&lt;/p&gt;
{% endif %}</p>
<p>{% if publi.number_link == 4 %}
&lt;p&gt;&lt;a href=&quot;{{ publi.link1.url }}&quot;&gt;{{ publi.link1.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link2.url }}&quot;&gt;{{ publi.link2.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link3.url }}&quot;&gt;{{ publi.link3.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link4.url }}&quot;&gt;{{ publi.link4.display }}&lt;/a&gt;&lt;/p&gt;
{% endif %}</p>
<p>{% if publi.number_link == 5 %}
&lt;p&gt;&lt;a href=&quot;{{ publi.link1.url }}&quot;&gt;{{ publi.link1.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link2.url }}&quot;&gt;{{ publi.link2.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link3.url }}&quot;&gt;{{ publi.link3.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link4.url }}&quot;&gt;{{ publi.link4.display }}&lt;/a&gt;
/
&lt;a href=&quot;{{ publi.link5.url }}&quot;&gt;{{ publi.link5.display }}&lt;/a&gt;&lt;/p&gt;
{% endif %}</p>
<p>&lt;/div&gt;
&lt;/div&gt;</p>
<p>{% endfor %}</p>
<p>&lt;br clear=&quot;all&quot;/&gt;</p>
<h4>&lt;a href=&quot;{{ site.url }}{{ site.baseurl }}/publications&quot;&gt;see all projects&lt;/a&gt;</h4>
